<%= render 'shared/navbar' %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'cocktail_background.jpg' %>);">
  <div class="container">
    <h1>Ma cocktailothèque</h1>
    <p>Créé des coktails et partage tes recettes autour de toi</p>
     <%= link_to new_cocktail_path do %>
      <button type="button" class="btn btn-primary">
        Ajoute un cocktail
      </button>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="cards my-3">
    <% @cocktails.each do |cocktail| %>
      <% if cocktail.photo.attached? %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>)">
        <%= link_to cocktail.name, cocktail_path(cocktail) %>
      </div>
      <% end %>
    <% end %>
  </div>
</div>

